.banner {
  background: rgb(44, 45, 63);
  background: linear-gradient(156deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 100%);
  border-radius: 0px 100px 0px 100px;
  line-height: 1.5;
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 60px 0px;
  align-items: center;

  @media (min-width: 768px) {
    overflow: visible;
  }

  &-wrapper {
    margin: 0px 15px;

    & p {
      margin: 0px 20px;

      @media (min-width: 768px) {
        margin: 0px;
      }
    }
  }

  &-content {
    z-index: 6;
    grid-column: 2;

    @media (min-width: 768px) {
      margin: 0px 450px 0px -70px;
      text-align: left;
    }
  }

  & h3 {
    font-size: 2rem;
    color: $TextColor;
  }

  & p {
    color: $TextColor;
  }

  &-bg-circle {
    position: absolute;
    width: 590px;
    left: -110px;
    top: -250px;

    @media (min-width: 768px) {
      width: 730px;
      left: 0px;
      top: -260px;
    }
  }

  @media (min-width: 768px) {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 45vh;
    align-items: center;
  }
}

.banner-bg-phones-mobile {
  width: 320px;
  z-index: 4;

  @media (min-width: 768px) {
    margin-top: -140px;

    width: 550px;
    margin-left: 260px;
  }
}
