.content-container {
  margin-top: 100px;

  @media (min-width: 768px) {
    height: 67vh;
    margin-top: 270px;
    margin-bottom: 430px;

    &-margin-two {
      margin-top: 120px;
    }
  }

  & .content-image-mobile {
    width: 300px;
    margin: 25px 0px 50px 0px;
  }

  &-info {
    line-height: 1.5;
    color: $BodyCopy;

    & > * {
      margin-bottom: 50px;
    }

    @media (min-width: 768px) {
      margin: 0px;
      text-align: left;
      width: 490px;

      & h3 {
        margin: 0px;
      }
    }
  }

  &-desktop {
    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin: 0px 370px;
      grid-auto-flow: column;
      height: 610px;
    }
  }
}

.content-image-mobile {
  @media (min-width: 1440px) {
    display: none;
  }
}

.content-image-desktop {
  width: 1180px;
  @media (max-width: 1440px) {
    display: none;
  }

  &-pm {
    grid-column: 1;
  }
}

@media (min-width: 1440px) {
  .content-text-desktop-pm {
    width: 420px;
  }
}

@media (min-width: 1440px) {
  .right-content-image {
    transform: translateX(213px);
    overflow: hidden;
    width: 830px;
  }

  .left-content-image {
    transform: translateX(-706px);

    &-width {
      grid-template-columns: 560px 1fr;
    }
  }
}
