// Globals
body {
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  font-family: $OverpassFont;
}

h3 {
  color: $HeadingColor;
  font-size: 1.6rem;
}

button {
  font-family: $UbuntuFont;
}

.wrapper {
  margin: 0px 30px;
}

.cta {
  font-weight: $fontWeight700;
  width: 135px;
  height: 50px;
  font-size: 1rem;
  border-radius: 25px;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;

  &--org {
    color: $CTAtext;

    &:hover {
      color: $TextColor;
      background-color: $CTAhover;
      transition: 0.3s;
    }
  }

  &--alt {
    color: $TextColor;
    background-color: transparent;
    border: 1px solid $TextColor;

    &:hover {
      color: $CTAtext;
      background-color: $TextColor;
      transition: 0.3s;
    }
  }

  &--nav {
    background: rgb(255, 143, 112);
    background: linear-gradient(180deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 100%);
    color: $TextColor;

    &:hover {
      background: linear-gradient(210deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 100%);
    }
  }
}
