// Nav
nav {
  background: rgb(255, 143, 112);
  background: linear-gradient(180deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 100%);
  border-radius: 0px 0px 0px 100px;
  height: 75vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.nav-background {
  width: 1439px;
  position: absolute;
  bottom: -530px;
  left: -370px;
  z-index: 2;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px 60px 0px;
  position: relative;
  z-index: 4;

  & .fa-bars,
  .fa-xmark {
    color: $TextColor;
    font-size: 1.9rem;
  }

  &-content {
    position: relative;
    z-index: 3;

    & h1 {
      font-size: 2.2rem;
      color: $TextColor;
      margin-bottom: 17px;
    }

    & h2 {
      margin: 0px 20px 40px 20px;
      font-size: 1.3rem;
      color: $TextColor;
      font-weight: $fontWeight300;
    }

    & button {
      margin: 10px;
    }
  }
}

nav ul {
  display: none;
}

.nav-links {
  border-radius: 5px;
  list-style-type: none;
  position: fixed;
  background-color: $TextColor;
  padding: 20px 20px 40px 20px;
  top: 125px;
  left: 25px;
  right: 25px;
  box-shadow: -5px 38px 61px -9px rgba(0, 0, 0, 0.3);

  & li {
    font-size: 1.3rem;
    color: $BodyCopy;
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & svg {
      margin-left: 6px;
    }

    & > div {
      display: none;
    }
  }

  &.active {
    display: block;
  }
}

.turn-arrow {
  transform: rotate(180deg);
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-basis: 100%;

  & a {
    color: $BodyCopy;
    text-decoration: none;
    font-size: 1.2rem;
  }

  &.active {
    display: flex;
  }

  & > * {
    margin: 15px;
  }
}

hr {
  margin: 25px 0px 40px 0px;
}
