// Colors
$CTAtext: hsl(356, 100%, 66%);
$CTAhover: hsl(355, 100%, 74%);
$HeadingColor: hsl(208, 49%, 24%);

$TextColor: hsl(0, 0%, 100%);
$BodyCopy: hsl(207, 13%, 34%);
$FooterColor: hsl(240, 2%, 79%);
$FooterBg: hsl(240, 10%, 16%);

// Gradient
//Intro/CTA mobile nav
$GradientLightRed: hsl(13, 100%, 72%);
$GradientRed: hsl(353, 100%, 62%);

//Background gradient body
$GradientDarkBlue: hsl(237, 17%, 21%);
$GradientDarkDesBlue: hsl(237, 23%, 32%);

// Fonts
$OverpassFont: "Overpass", sans-serif;
$UbuntuFont: "Ubuntu", sans-serif;

// Font weights
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
